<form>
    <div class="container">
        <div class="box">
            <h2>REGISTER</h2>
            <hr>
            <p>Please fill in this form to create an account.</p>
            <table>
                <tr>
                    <td>Name :</td>
                    <td><input type="text" placeholder="Enter name" required></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" placeholder="Enter Email" required></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" placeholder="Enter Address" required></td>
                </tr>
                <tr>
                    <td>Phone no. :</td>
                    <td><input type="number" placeholder="Enter phone no." required></td>
                </tr>
                <tr>
                    <td>Password :</td>
                    <td><input type="password" placeholder="Enter password" required></td>
                </tr>
                <tr>
                    <td>Confirm Password :</td>
                    <td><input type="password" placeholder="Confirm password" required></td>
                </tr>
            </table>

            <button type="submit" class="signupbtn">Sign In</button>

        </div>
    </div>
</form>