<meta name="viewport" content="width=device-width, initial-scale=1.0">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="../assets/AucImg/A.logo.jpg" style="height: 40px;
        width: 45px;
        padding-bottom: 4px;"></a>
    </div>
    <nav role="navigation">
      <div id="menuToggle">
        <!--
        A fake / hidden checkbox is used as click reciever,
        so you can use the :checked selector on it.
        -->
        <input type="checkbox" />

        <!--
        Some spans to act as a hamburger.
        
        They are acting like a real hamburger,
        not that McDonalds stuff.
        -->
        <span></span>
        <span></span>
        <span></span>

        <!--
        Too bad the menu has to be inside of the button
        but hey, it's pure CSS magic.
        -->
        <ul id="menu">
          <a href="#">
            <li>Home</li>
          </a>
          <a href="#">
            <li>About Us</li>
          </a>
          <a href="#">
            <li>Product List</li>
          </a>
          <a href="#">
            <li>Trending Products</li>
          </a>
          <a href="/login" target="_blank">
            <li>Sign Up</li>
          </a>
        </ul>
      </div>

    </nav>


    <ul class="nav navbar-nav">


      <li><a routerLink="/register" (click)="scroll()" routerLinkActive="active" style="padding-left:900px ;">SIGN
          IN</a></li>
      <li><a routerLink="/login" (click)="scroll()" routerLinkActive="active">SIGN UP</a></li>

    </ul>
  </div>
</nav>
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="../assets/AucImg/cover.jpg" alt="Los Angeles" style="height: 300px; ">
      </div>

      <div class="item">
        <img src="../assets/AucImg/Auc1.jpg" alt="Chicago" style="height: 300px;">
      </div>

      <div class="item">
        <img src="../assets/AucImg/cover2.jpg" alt="New York" style="height: 300px;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="head">
  <h3 style="text-align:center;"><strong>BID, WIN AND CLOSE WITH CONFIDENCE</strong> </h3>
</div>
<div>
  <h2>Latest Products</h2>
</div>
<hr>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="../assets/AucImg/AntiqueItem.jpg" alt="Antique">
      <div class="carousel-caption">
        <h3 style="color:black;">Antique</h3>

      </div>
    </div>

    <div class="item">
      <img src="../assets/AucImg/Canvas.jpg" alt="Canvas">
      <div class="carousel-caption">
        <h3 style="color:black;">Canvas</h3>
      </div>
    </div>

    <div class="item">
      <img src="../assets/AucImg/car.jpg" alt="Car">
      <div class="carousel-caption">
        <h3 style="color:black;">Cars</h3>

      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div>
  <footer>
    <p>CopyRight@JavaBuddies &copy;</p>
  </footer>
</div>
<router-outlet></router-outlet>