
.container{
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 400px;
  padding-top: 70px;
}
.navbar {
    position: fixed;
    width: 100%;
   
    opacity: 0.4;
    
}


footer {
    text-align: center;
    padding-bottom: 3px;
    background-color: DarkSalmon;
    color: white;
    margin-top: 10px;
  }