<form>
    <div class="container">
        <div class="box">
            <h1 id="login" class="head">Sign Up</h1>

            <hr>


            <input type="text" placeholder="Enter Username" name="uname" required>


            <input type="password" placeholder="Enter Password" name="psw" required>




            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>

            <div class="row">
                <div class="col-sm-8">
                    <button type="submit" class="signupbtn" onclick="matchPassword()">Sign Up</button>
                </div>
                <div class="col-sm-4">
                    <a href="/register">Don't have an account?</a>
                </div>
            </div>

        </div>
    </div>

</form>